*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  font-family: 'Inter',Arial, Helvetica, sans-serif;

}
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

:root{
  --primary-100:#203A53;
  --primary-200:#101922;
  --secondary-100:#F44E25;
  
  --toggle-bg: #1E293B;
  --toggle-bg-active:#0F3B60;

  --modal-bg: #142638;
  --modal-header-bg:#2A4E73;
  --modal-horizontal-line: #3D4C5A;
  
  --card-bg:#314C68;
  --black: #070B0F;
  --gray-100:#5C5C5C;
  --gray-200:#f2f0ee;
  --white-100: #f0f0f0;
}

body {
    --sideColumnWidth: 140px;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  display: grid;
  grid-template-columns: 300px 1fr;
  color: var(--white-100);
  background-color: var(--black);
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}
#root, #__next {
  isolation: isolate;
}

ul,nav{
  list-style: none;
  padding: 0;
}


.poke-app{
  display: flex;
  height: 100%;
  width: 1186px;
  max-height: 748px;
  border-radius: 6px;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  overflow: hidden;
}


/*#region modal*/
.modal-overlay{
  background-color: rgba(0, 0, 0, 0.3);
  position:absolute;
  top:0;
  left:0;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.modal{
  width: 80%;
  max-width: 600px;
  background-color: white;
  border-radius: 6px;
  background-color: var(--modal-bg);
  overflow: hidden;
  height: 710px;
}

.modal-grid{
  --gridGap: 8px;
  display:grid;
  grid-template-rows: 96px 1fr min-content 64px 208px ;
  grid-template-columns: 1fr;
  grid-template-areas: 
  "title"
  'image'
  'subtitle'
  "tabs"
  'modal-view'
  ;
  height: 100%;
}

.modal-title .skeleton-loader{
  max-width: 200px;
  height: 32px;
}

.modal-image .skeleton-loader{
  width: 296px;
  height: 254px;
  margin-top: 16px;
}

.skeleton-loader{
  flex:1;
  height: 100%;
  position:relative;
  overflow: hidden;
  background-color: var(--primary-100);
  border-radius: 3px;
  animation: skeleton 1.2s infinite alternate;
}

@keyframes skeleton {
   0%{
    opacity: 0.2;
    transform: translateY(3px) scale(0.98);
   }
   100%{
    opacity: 1;
    transform: translateY(0px) scale(1);
   }
}

.modal-stats{
  grid-area: modal-view;
}
.modal-stats.stats-loader{
  margin-top: 24px;
  padding: 0 24px;
}
.modal-stats.stats-loader li{
height: 20px;
  flex:1;
}

.modal-stats.stats-loader li:not(:first-of-type){
  margin-top: var(--gridGap);
}
.modal-title{
  grid-area: title;
  display: flex;
  align-items: center;
  gap: 16px;
  text-transform: capitalize;
  background-color: var(--modal-header-bg);
  padding: 0 32px;
}
.modal-title span{
  font-size: 1.3rem;
  transform: translateY(2px);
  opacity: 0.8;
}

.modal-subtitle{
  grid-area: subtitle;
  justify-self: center;
}

.modal-subtitle.tag-loader{
  width: 148px;
  height: 54px;
  padding:12px 0;
}

.modal-image{
  grid-area: image;
  width: 50%;
  justify-self: center;
}
.modal-image img{
  width: 100%;
  object-fit: contain;
}
.modal-tabs{
  grid-area: tabs;
  justify-self: center;
  display: flex;
  align-items: center;
  gap:32px;
}
.modal-tabs.tabs-loader li{
  width: 102px;
  height: 54px;
  padding: 6px 0;
  display: inline-block;
}
.modal-tabs.tabs-loader li + li{
  margin-left: var(--gridGap);
}

.modal-view{
  grid-area: modal-view;
  border-top: 1px solid var(--modal-horizontal-line);
  padding: 24px 0;
  margin: 0 32px;
}

/*#endregion modal*/

/*#region modal stats view*/
.stat-container{
  display: grid;
  grid-template-columns: 80px 30px 1fr;
  align-items: center;
  width: 100%;
  font-size: 14px;
  padding: 2px 0;
}
.stat-title{
  text-transform: capitalize;
  opacity: 0.6;
}

.progress-container{
  display: flex;
  flex-wrap: wrap;
}

.progress-label{
  flex:1;
  font-size: 12px;
  text-transform: uppercase;
}

.progress-root{
  width: 100%;
  position:relative;
  height: var(--progressBar-height,8px);
  overflow: hidden;
  border-radius: 16px;
  background-color: var(--gray-200);
}

.progress-bar{
  content: '';
  position:absolute;
  left: 0;
  top:0;
  height: 100%;
  background-color: var(--secondary-100);
  transition: width 0.35s ease-in-out;
}

/*#endregion modal stats view*/

/*#region moves list*/
.moves-list{
  font-size: 14px;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: repeat(2,1fr);
  height: 100%;
  grid-gap:24px;
}

.move-item{
  text-transform: capitalize;
  background-color: var(--toggle-bg-active);
  height: 100%;
  width: 100%;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 18px;
}

/*#endregion moves list*/

/*#region tabs*/
.tabs-container .tab{
  padding: 8px ;
  cursor: pointer;
  text-transform: capitalize;
  font-weight: 500;
  font-size: 20px;
  opacity: 0.6;
  color: var(--white-100);
}
.tab + .tab{
  margin-left: 8px;
}
.tab.is-active{
  position:relative;
  opacity: 1;
  
}
.tab.is-active::after{
  content: '';
  position:absolute;
  left: 0;
  bottom: -6px;
  height: 3px;
  width: 100%;
  background-color: var(--secondary-100);
}
/*#endregion tabs*/

/*#region evolution chain*/
.evolution-container{
  --imageContainerSize: 128px;
  grid-area: evolutions;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.modal-evolution-chain{
  flex-direction: row;
  justify-content: center;
  margin-top: 36px;
}

.modal-evolution-chain > li {
  width: var(--imageContainerSize);
  height: var(--imageContainerSize);
  border-radius: 50%;
  overflow: hidden;
}

.evolution-title{
  font-size: 14px;
}

   .evolution-list{
    display: flex;
    align-items: center;
    justify-content: space-around;
   }

   .evolution-list li{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
   }
   .evolution-list li:not(.isActive) .evolution-image{
    filter:grayscale(1);
   }

   .evolution-image{
    --imageContainerSize: 128px;
  width: var(--imageContainerSize);
  height: var(--imageContainerSize);
  border-radius: 50%;
  border: 4px solid yellowgreen;
  display: flex;
  justify-content: center;
  align-items: center;
   }

   .evolution-name{
    display: flex;
    align-items: flex-end;
    text-transform: capitalize;
    gap:8px;
   }
   .evolution-name span{
    font-size: 14px;
    opacity: 0.6;
   }

/*#endregion evolution chain*/



/*#region Side Panel*/
#side-panel{
  background-color: var(--primary-100);
  height: 100%;
  display: flex;
  flex-direction: column;
  max-width:300px;
}
#side-panel header{
  padding: 24px;
}

.sidePanel-container{
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.side-panel__title{
  font-size: 24px;
}

.generate-team{
  width: 100%;
  height: 42px;;
  font-weight: bold;
  font-size: 12px;
  border-radius: 6px;
  background-color: var(--secondary-100);
  color: var(--white-100);
  margin-top: 16px;
}

.search-section{
  display: flex;
  gap:8px;
  max-height: 40px;
  width: calc(100% - 24px);
}



.search-section input{
  border:1px solid transparent;
  border-radius: 3px;
}

.search-section.searchbox-error input,
.search-section.searchbox-error input:focus{
  border-color:tomato;
  outline:transparent;
}

#pokedex-container{
  min-height: 0;
}

.pokedex-searchbox{
  min-width: 0;
  flex:1;
  padding: 8px 16px;
}

.reset-button{
  --resetButton-size:40px;
  height: var(--resetButton-size);
  cursor: pointer;
  background-color: transparent;
  outline: 0;
  border:0;
  max-width: 0;
  overflow: hidden;
  color: var(--white-100);
  font-weight: 700;
  padding:0;
  transition: max-width 0.2s ease-in-out;
}

.search-section.isVisible .reset-button{
  display: block;
max-width: var(--resetButton-size);
width: var(--resetButton-size);
}

#side-panel__progress{
  padding: 0 24px;
}

.pokedex-progress{
 --progressBar-height: 12px;
}
/*#region accordion*/
#accordion{
  padding: 24px 24px 0;
  min-height: 0;
  display: flex;
  flex-direction: column;
}

#accordion-button{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  color: var(--white-100);
  outline:none;
  border: 0;
  cursor: pointer;
}

#accordion .icon{
  transform: rotate(0deg);
  transition: transform 0.15s ease-in-out;
}

#accordion.isOpen .icon{
  transform: rotate(180deg);
}

.accordion-body{
  width: calc(100% + 24px);
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 0;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.1s ease-in-out;
}
#accordion.isOpen .accordion-body{
  max-height: 100%;
  overflow: visible;
}

.no-results{
  height: 100%;
  font-weight: 600;
  color:var(--secondary-100);
  margin-top: 8px;
}
/*#endregion accordion*/

.pokemon-list-wrapper{
  min-height: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap:16px;
}

.pokemon-list{
  height: 100%;
  overflow-y: auto;
  scrollbar-width: 20px;
  scrollbar-color: var(--white-100) var(--primary-100);
  display: flex;
  flex-direction: column;
  padding-bottom: 16px;
  padding-top: 16px;
}

.pokemon-list li{
  padding: 4px 8px;
  height: 68px;
  font-size: 18px;
  font-weight: 600;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  flex-shrink: 0;

  transition: background-color 0.35s ease-in;
}
.list-item{
  display: flex;
  align-items: center;
  gap:8px;
}
.pokedex-image{
  --imageContainer: 60px;
  height: var(--imageContainer);
  width: var(--imageContainer);
}

.pokemon-list li.revealed{
  animation:reveal;
  animation-duration: 0.2s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes reveal{
  50%{
    background-color: var(--primary-200);
  }
  100%{
    background-color: var(--primary-100);
  }
}

/*#endregion Side panel*/

/*#region Main*/
#main{
  flex:1;
  flex-shrink: 0;
  padding: 32px;
  display: grid;
  grid-template-rows: min-content 1fr;
  grid-gap: 24px;
  background-color: var(--primary-200);
}

/*#region card */
.cards-grid{
    display: grid;
    grid-template-columns: repeat(3,minmax(160px,1fr));
    grid-auto-rows: 278px;
    gap:24px;
}
.grid-empty-message{
  position:absolute;
  font-size: 20px;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
    border-radius: 6px;
    gap:8px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    background-color: var(--card-bg);
}

.card.filtered-out{
  opacity: 0.3;
  transform: scale(0.7);
}

.card .card-image{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.card-image img{
  height: 100%;
  width: auto;
  object-fit: contain;
}

.card .card-name-id{
    display: flex;
    align-items: center;
    gap: 8px;
    text-transform: capitalize;
    font-weight: 700;
    font-size: 14px;
}
.type-list{
    display: flex;
    flex-wrap: wrap;
    gap:8px;
}
.tag{
    border-radius: 3px;
    width: auto;
    padding: 8px 12px;
    text-transform: capitalize;
    color:var(--white-100);
    font-weight: 600;
    font-size: 16px;
}


/*#endregion card */

/*#endregion Main*/


/*#region Filters*/
.filters-container>*+*{
margin-top:16px;
}
#filters{
  min-height: 35px;
}

#filters > .filters-list{
  display: flex;
  gap:8px;
}

.toggle{
  width: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap:16px;
  cursor: pointer;
  padding: 6px 12px;
  outline: 0;
  border: 0;
  border-radius: 3px;
  font-weight: 600;
  font-size: 16px;
  text-transform: capitalize;
  background-color: var(--toggle-bg);
  color: var(--white-100);
}

.toggle.isActive{
  border-color:transparent;
  background-color: var(--toggle-bg-active);
  color: var(--white-100);
}
/*#endregion Filters*/
