*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}
body {
    --sideColumnWidth: 140px;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  max-width: 960px;
  display: grid;
  grid-template-columns: var(--sideColumnWidth) 1fr var(--sideColumnWidth);
  
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}
#root, #__next {
  isolation: isolate;
}

ul,nav{
  list-style: none;
  padding: 0;
}

/*#region card */
.cards-grid{
    display: grid;
    grid-template-columns: repeat(3,minmax(160px,1fr));
    gap:16px;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px;
    border-radius: 3px;
    gap:8px;
    border:1px solid;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    transform: scale(1);
}
.card{
    transition: all 0.5s ease-in-out;
    transform: scale(1);
}

.card:hover{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.card.filtered-out{
  opacity: 0.3;
  transform: scale(0.7);
}

.card .card-image{
    height: 96px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    
}

.card .card-name-id{
    display: flex;
    align-items: center;
    gap: 8px;
    text-transform: capitalize;
    font-weight: 700;
    font-size: 14px;
}
.type-list{
    display: flex;
    flex-wrap: wrap;
    gap:8px;
}
.tag{
    border-radius: 4px;
    width: auto;
    padding: 4px 8px;
    text-transform: capitalize;
    color:#feefee;
    font-weight: 600;
    font-size: 8px;
}


/*#endregion card */

/*#region modal*/
.modal-overlay{
  background-color: rgba(0, 0, 0, 0.3);
  position:absolute;
  top:0;
  left:0;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.modal{
  width: 80%;
  max-width: 600px;
  background-color: white;
  border-radius: 3px;
  padding: 16px;
  height: 509px;
}

.modal-grid{
  --gridGap: 8px;
  display:grid;
  grid-gap:var(--gridGap);
  grid-template-rows: 36px 20px 1fr min-content ;
  grid-template-columns: 200px 1fr;
  grid-template-areas: "title tabs"
  'subtitle .'
  "image details"
  "evolutions evolutions";
}



.skeleton-loader{
  flex:1;
  height: 100%;
  position:relative;
  overflow: hidden;
  background-color: #dddbdd;
  border-radius: 3px;
}
.skeleton-loader::after{
  content:'';
  position:absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  transform: translateX(-100%);
  background: linear-gradient(90deg,rgba(255,255,255, 0) 0%,rgba(255,255,255, 0.2) 20%,rgba(255,255,255, 0.5) 60%,rgba(255,255,255, 0));
  animation: skeleton 2.5s infinite;
}
@keyframes skeleton {
  100%{
    transform: translate(100%);
  }
}

.modal-stats{
  grid-area: details;
}
.modal-stats.stats-loader li{
height: 20px;
  flex:1;
}

.modal-stats.stats-loader li:not(:first-of-type){
  margin-top: var(--gridGap);
}
.modal-title{
  grid-area: title;
  display: flex;
  align-items: center;
  gap: 16px;
  text-transform: capitalize;
}
.modal-title span{
  font-size: 14px;
  transform: translateY(4px);
  opacity: 0.6;
}

.modal-subtitle{
  grid-area: subtitle;
}

.modal-subtitle.tag-loader{
  max-width: 50px;
}

.modal-image{
  --imageContainer: 200px;
  grid-area: image;
  height: var(--imageContainer);
  width: var(--imageContainer);
}
.modal-image img{
  height: 100%;
}
.modal-tabs{
  grid-area: tabs;
  align-items: flex-end;
}
.modal-tabs.tabs-loader li{
  width: 80px;
  height: 100%;
  display: inline-block;
}
.modal-tabs.tabs-loader li + li{
  margin-left: var(--gridGap);
}

/*#endregion modal*/

/*#region modal stats view*/
.stat-container{
  display: grid;
  grid-template-columns: 80px 30px 1fr;
  align-items: center;
  width: 100%;
  font-size: 14px;
}
.stat-title{
  text-transform: capitalize;
  opacity: 0.6;
}

.progress-container{
  flex:1;
  position:relative;
  overflow: hidden;
  border-radius: 16px;
  background-color: #f2f0ee;
  height: 8px;
}
.progress-bar{
  content: '';
  position:absolute;
  left: 0;
  top:0;
  height: 100%;
  background-color: darkolivegreen;
}

/*#endregion modal stats view*/

/*#region moves list*/
.moves-list{
  padding-left:26px;
  font-size: 14px;
}
.moves-list >li + li{
  margin-top:8px;
}
.move-item{
  text-transform: capitalize;
  list-style: decimal-leading-zero ;
}

/*#endregion moves list*/

/*#region tabs*/
.tabs-container{
  grid-area: tabs;
  display: flex;

}
.tabs-container .tab{
  padding: 8px ;
  cursor: pointer;
  text-transform: capitalize;
  font-size: 12px;
  font-weight: 600;
}
.tab + .tab{
  margin-left: 8px;
}
.tab.is-active{
  position:relative;
}
.tab.is-active::after{
  content: '';
  position:absolute;
  left: 0;
  bottom:0;
  height: 3px;
  width: 100%;
  background-color: orangered;
}
/*#endregion tabs*/

/*#region evolution chain*/
.evolution-container{
  --imageContainerSize: 128px;
  grid-area: evolutions;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.modal-evolution-chain{
  flex-direction: row;
  justify-content: center;
  margin-top: 36px;
}

.modal-evolution-chain > li {
  width: var(--imageContainerSize);
  height: var(--imageContainerSize);
  border-radius: 50%;
  overflow: hidden;
}

.evolution-title{
  font-size: 14px;
}

   .evolution-list{
    display: flex;
    align-items: center;
    justify-content: space-around;
   }

   .evolution-list li{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
   }
   .evolution-list li:not(.isActive) .evolution-image{
    filter:grayscale(1);
   }

   .evolution-image{
    --imageContainerSize: 128px;
  width: var(--imageContainerSize);
  height: var(--imageContainerSize);
  border-radius: 50%;
  border: 4px solid yellowgreen;
  display: flex;
  justify-content: center;
  align-items: center;
   }

   .evolution-name{
    display: flex;
    align-items: flex-end;
    text-transform: capitalize;
    gap:8px;
   }
   .evolution-name span{
    font-size: 14px;
    opacity: 0.6;
   }

/*#endregion evolution chain*/

/*#region Filters*/
#filters > div{
  display: flex;
  flex-direction: column;
  gap:8px;
}

.toggle{
  flex:1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  padding: 4px 8px;
  outline: 0;
  border: 0;
  border-radius: 3px;
  border: 1px solid chocolate;
  font-weight: 600;
  text-transform: uppercase;
}
.toggle.isActive{
  border-color:transparent;
  background-color: chocolate;
  color: white;
}
/*#endregion Filters*/



